<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Calculator1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>name1</param-name>
		<param-value>bharathish</param-value>
	</context-param>
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.servlets.FirstServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>Bharathsih</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.servlets.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/second</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.servlets.thirdservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/third</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>simple</servlet-name>
		<servlet-class>com.servlets.simpleinterest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>simple</servlet-name>
		<url-pattern>/simple</url-pattern>
	</servlet-mapping>
	<display-name>PrimeNumber</display-name>
	<servlet>
		<servlet-name>FourthServlet</servlet-name>
		<servlet-class>com.servlets.FourthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FourthServlet</servlet-name>
		<url-pattern>/FourthPath</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SixthServlet</servlet-name>
		<servlet-class>com.servlets.SixthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SixthServlet</servlet-name>
		<url-pattern>/SixthPath</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SeventhServlet</servlet-name>
		<servlet-class>com.servlets.SeventhServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeventhServlet</servlet-name>
		<url-pattern>/SeventhPath</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchJSP</servlet-name>
		<jsp-file>/WEB-INF/search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchJSP</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

</web-app>